/* Hi */

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  padding-top: 1.5em;
}


.site-header {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.site-title {
  
}

.site-nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
}


.each {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-image {
  width: 50%;
}

.project-link {
  display: flex;
}


.buttons {
  display: flex;
  justify-content: space-evenly;
}

